@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .second-nav {
    max-width: 96rem;
    display: flex;
    justify-content: space-around;
  }

  .npmLogo {
    width: 60px;
  }

  .magnigyingGlass {
      width: 15px;
      height: 15px;
  }

  .searchbar-wrapper {
    margin: 10px;
    display: flex;
  }

  .searchbar {
    width: 50vw;
    padding: 15px;
    background: #f2f2f2;
    display: flex;
    align-items: center;

  }

  #site-search {
      border: none;
      background: #f2f2f2;
  }

  .btn-search {

    border-style: none;
    border-width: 0;
    font-family: 'Poppins';
    letter-spacing: 0.3px;
    font-weight: bold;
    background-color: #231f20;
    
  }

  .btn {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding: 20px;
    line-height: 1.15;
    margin: 0;

  }

  .white {
    color: #fff;
}

.btn-signup {
    padding: 13px 28px;
    border: 1px solid #cccccc;
    border-radius: 0;
    background-color: white;
    line-height: 1.5;
    font-weight: 500;
}

.black {
    color: black
}
.btn-signin {
    padding: 13px 28px;
    border: none;
    background-color: white;
    line-height: 1.5;
    font-weight: 500;
}